---
meta:
  name:    blacksmith
  release: Blacksmith
  target:  blacksmith@pipes
  url:     https://pipes.starkandwayne.com

  git:
    name: Stark & Wayne CI Bot
    email: ci@starkandwayne.com

  aws:
    access_key: (( vault "secret/pipelines/aws/cf-community:access" ))
    secret_key: (( vault "secret/pipelines/aws/cf-community:secret" ))

  github:
    owner:  blacksmith-community
    repo:   blacksmith
    branch: master
    private_key:  (( vault "secret/pipelines/github/starkandwayne/ci-bot:private" ))
    access_token: (( vault "secret/pipelines/github/starkandwayne/ci-bot:access_token" ))

  shout:
    url:      http://10.200.131.1:7109
    username: ops
    password: (( vault "secret/buffalo/lab/concourse/shout/ops:password" ))
